.header {
  background-color: var(--accent-color);
  padding: 5px;

  .header__nav {
    @media (min-width: 600px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .header__logo {
      font-size: 3.5rem;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
    }

    .header__menu {
      display: flex;
      flex-direction: column;
      flex: 1;

      @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-around;
      }

      .menu__item {
        text-decoration: none;
        color: var(--text-color);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .header__banner {
    background:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/baby-yoda.svg);
    background-size: cover;
    min-height: 500px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .header__title {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--accent-color);
    }
  }
}
