@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --text-color: #000000;
  --border-color: #000000;
  --accent-color: #a5c7cf;
  --background-color: white;
  font-family: "DotGothic16", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}
