.products {
    padding: 5px;
    
    .products__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;

        @media (min-width: 480px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .products__item {
        border: 1px solid var(--border-color);
        padding: 15px;
    }

    .products__image {
        border-radius: 50%;
        border: 2px solid var(--border-color);
        aspect-ratio: 1;
        object-fit: cover;
        width: 70%;
        margin: 0 auto;
    }

    .products__actions {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
}